*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
            list-style-type: none;

}


header img{
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.left{
    align-self: flex-end;
    
}

.bloc-left{
    align-items: flex-end;
    display: flex;
    gap: 50px;
    margin-bottom: 130px;
    justify-content: center;
    width: 70vw;
}
.bloc-left p{
    color: white;
    
        white-space: nowrap;
    
    
}

.bloc-left  div:nth-child(2) p:first-child{
    font-size: 30px;
    font-weight: 600;
}


.bloc-left  div:nth-child(2) p:last-child{
        font-weight: 200;
}

.left-one-p{
    font-weight: 700;
    font-size: 150px;
    line-height: 0.8;
    

}
.left-one-p span{
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: 80px;
}

.bloc-left  div:nth-child(3) p{
    text-transform: capitalize ;
    font-size: 20px;
    text-align: center;
}
.bloc-left  div:nth-child(3) img{
    object-fit: cover;
    width: 100px;
    opacity: 0.6;
}


.right{
    backdrop-filter: blur(20px);
    padding: 0 0 60px 60px;
    border-radius: 10px;
    margin-right: 100px;
    overflow: hidden;
    width: 500px;
    height: 80vh;

}

h2{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.right form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.right input:first-child{
    margin-top: 40px;
    background-color: transparent;
    width:70%;
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding: 10px;
    outline: none;
}

.right input:last-child{
    background-image: url(images/search.png);
    background-size: 20px;
    background-repeat: no-repeat;
    text-indent: -9999px; /* Cela masquera le texte du bouton */
    width: 78px;
    height: 78px; /* Ajustez la largeur et la hauteur en fonction de votre image */
    border: none;
    background-position: center center; /* Centrez l'image horizontalement et verticalement */
    background-color: #ffbd03;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 0;
}

ul{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    
    gap: 40px;
}

ul:last-child{
    align-items: end;
} 

ul:first-child li{
    color: rgb(200, 200, 200);
    font-weight: 200;
}

ul:last-child li{
    color: white;
    font-weight: 700;
}